.header {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--brandColor);
  color: white;
}

@media (min-width: 600px) {
  .header__title {
    font-size: 4rem;
  }
}
