.newTask {
  width: 90%;
  position: fixed;
  top: 50%;
  right: 5%;
  padding: 1rem;
  border-radius: 1rem;
  border: 2px solid #f50057;
  border-radius: 0.5rem;
  background-color: #ffffff;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 600px) {
  .newTask {
    height: 100px;
    width: 50%;
    right: 25%;
  }

  .form {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .newTask {
    top: 12%;
  }
}
